[data-tilt] {
    transform-style: preserve-3d;
}

.rellax {
    @media screen and (max-width: $tablet-breakpoint - 0.0625rem){
        transform: none !important;
    }
}

[data-aos="line-animation"] {
    &.aos-animate {
        &::before {
            transform: scale(1, 1);
        }
    }

    &::before {
        transform: scale(1, 0);
        transform-origin: top;
        transition-property: transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
    }
}

@keyframes animateIn {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
