[data-tilt] {
    transform-style: preserve-3d;
}

.rellax {
    @media screen and (max-width: $tablet-breakpoint - 0.0625rem){
        transform: none !important;
    }
}

@keyframes animateIn {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
