/* Utilities */
.container {
    display: block;
    width: 100%;
    max-width: 100%;
    @include spacing(margin, left right, auto);
    @include spacing(padding, left right, $container-gutter);

    @media screen and (min-width: $phone-breakpoint){
        max-width: calc(#{$phone-container});
    }

    @media screen and (min-width: $tablet-breakpoint){
        max-width: calc(#{$tablet-container});
    }

    @media screen and (min-width: $laptop-breakpoint){
        max-width: calc(#{$laptop-container});
    }

    @media screen and (min-width: $desktop-breakpoint){
        max-width: calc(#{$desktop-container});
    }
}

.image-container {
    img {
        display: block;
        width: 100%;
    }
}

.no-scroll {
    overflow: hidden;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

/* Gradients */
.yellow-gradient {
    @include gradient($orange, $yellow);
}

.pink-gradient {
    @include gradient($red, $pink);
}

.blue-gradient {
    @include gradient($throwback-blue, $sky-blue);
}

.dark-gradient {
    @include gradient($deep-blue, $ocean-blue);
}
