.fast-facts {
    padding-top: 2.25rem;

    @media screen and (min-width: $tablet-breakpoint){
        padding-top: 7.5rem;
    }

    .fast-facts-container {
        background-color: $input-background;
        @include spacing(padding, top bottom, $mobile-section-space);
    }

    .facts-list {
        margin-bottom: -$mobile-block-space;

        @media screen and (min-width: $tablet-breakpoint){
            display: flex;
            justify-content: space-between;
            @include spacing(margin, left right, -1rem);
            margin-bottom: 0;
        }

        .fact {
            padding-bottom: $mobile-block-space;

            @media screen and (min-width: $tablet-breakpoint){
                flex: 0 1 calc(100% / 3);
                max-width: calc(100% / 3);
                @include spacing(padding, left right, 1rem);
                padding-bottom: 0;
            }

            h3 {
                color: $throwback-blue;
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: 1rem;

                @media screen and (min-width: $tablet-breakpoint){
                    margin-bottom: 2.25rem;
                }
            }
        }
    }
}
