$our-story-image-width: 28rem;
$our-story-image-height: 32.625rem;
$gradient-space: 3.5rem;

.hero {
    position: relative;

    .hero-content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
        height: $our-story-image-height + $gradient-space;
        z-index: 1;

        .content-container {
            max-width: 24rem;

            h1 {
                color: $red;
                margin-bottom: 1.5rem;

                span {
                    display: block;
                }
            }

            .leadText {
                margin-bottom: 1.875rem;
            }
        }

        .page-navigation {
            margin-top: auto;

            ul {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                li {
                    & ~ li {
                        padding-left: 2rem;
                    }
                }
            }

            a {
                font-size: 0.875rem;
            }
        }
    }

    .image-container {
        position: absolute;
        top: 0;
        right: 0;
        max-width: $our-story-image-width;

        img {
            height: $our-story-image-height;
        }

        &::before {
            content: '';
            position: absolute;
            top: -$header-height + 0.5rem;
            right: 0;
            width: 21.25rem;
            height: 15.75rem;
            background-image: url('./assets/images/large-dot-accent.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 2rem;
            right: $our-story-image-width;
            transform: translateX(50%);
            width: 6.875rem;
            height: 7.25rem;
            background-image: url('./assets/images/stripe-accent-vertical.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .hero-gradient {
        position: absolute;
        bottom: -$gradient-space;
        right: 0;
        width: $our-story-image-width + $gradient-space;
        height: 15.875rem;
        background-image: url('./assets/images/homepage-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}
