/* Colours */
$white: #FFFFFF;
$light-grey: #EBEFF1;
$grey: #BECBD1;
$ocean-blue: #083242;
$deep-blue: #0A2034;

/* Brand Colours */
$red: #FF4942;
$pink: #FF59A6;
$orange: #F08432;
$yellow: #FFCD00;
$sky-blue: #00A3FF;
$throwback-blue: #3500F5;
