/* Colours */
$white: #FFFFFF;
$black: #000000;

$light-grey: #EBEFF1;
$grey: #BECBD1;
$ocean-blue: #083242;
$deep-blue: #0A2034;

/* Brand Colours */
$red: #FF4942;
$pink: #FF59A6;
$orange: #F08432;
$yellow: #FFCD00;
$sky-blue: #00A3FF;
$throwback-blue: #3500F5;
$gradient-blue: linear-gradient(161.42deg, #018DFF 0%, #01A2FF 60.38%, #011BFF 100%);

/* Form Colours */
$label-colour: #9B9B9B;
$legend-colour: #4A4A4A;
$input-colour: #606060;
$input-background: #F1F4F5;
$checkbox-border: #BECBD1;
$checkbox-container-border: #D0D0D0;
$error: $red;

/* Title Colours */
$subtitle: #808080;

$primary-colour: $deep-blue;
