$primary-font   : 'Archivo', sans-serif;
$secondary-font : 'Lora', serif;
$tertiary-font: 'Cairo', sans-serif;

$font-weight-regular   : 400;
$font-weight-medium    : 500;
$font-weight-semi-bold : 600;
$font-weight-bold      : 700;

$fonts : (
    primary : (
        regular : (
            font-family : $primary-font,
            font-weight : $font-weight-regular
        ),
        medium : (
            font-family : $primary-font,
            font-weight : $font-weight-medium
        ),
        semi-bold : (
            font-family : $primary-font,
            font-weight : $font-weight-semi-bold
        ),
        bold : (
            font-family : $primary-font,
            font-weight : $font-weight-bold
        )
    ),
    secondary : (
        regular : (
            font-family : $secondary-font,
            font-weight : $font-weight-regular
        )
    ),
    tertiary : (
        semi-bold : (
            font-family : $tertiary-font,
            font-weight : $font-weight-semi-bold
        )
    )
);
