/* Breakpoints */
$phone-breakpoint   : 30rem;  // 480px
$tablet-breakpoint  : 48rem;  // 768px
$laptop-breakpoint  : 60rem;  // 960px
$desktop-breakpoint : 75rem;  // 1200px

/* Globals */
$global-font-size: 1rem;
$body-font-size: 0.875rem;
