$partners-grid-gutter: 2.5rem;

.partners {
    padding-top: 2.25rem;
    padding-bottom: $mobile-section-space;

    @media screen and (min-width: $tablet-breakpoint){
        padding-top: 14.25rem;
        padding-bottom: 8.75rem;
    }

    .container {
        @media screen and (min-width: $tablet-breakpoint){
            position: relative;
        }

        &::before {
            @media screen and (min-width: $tablet-breakpoint){
                content: '';
                position: absolute;
                top: -14.25rem;
                left: $container-gutter;
                height: 24.25rem;
                border-left: 1px solid $grey;
            }
        }
    }

    .content-container {
        text-align: center;
        max-width: 36.375rem;
        @include spacing(margin, left right, auto);
        padding-bottom: $mobile-block-space;

        @media screen and (min-width: $tablet-breakpoint){
            padding-bottom: 4.875rem;
        }
    }

    .partner-list {
        margin-bottom: -$partners-grid-gutter;

        @media screen and (min-width: $phone-breakpoint){
            display: flex;
            align-items: center;
            justify-content: center;
            @include spacing(margin, left right, -$partners-grid-gutter);
        }

        .partner {
            padding-bottom: $partners-grid-gutter;

            @media screen and (min-width: $phone-breakpoint){
                @include spacing(padding, left right, $partners-grid-gutter);
            }

            .image-container {
                max-width: 11.25rem;
                @include spacing(margin, left right, auto);
            }
        }
    }
}
