.partners {
    padding-top: 14.25rem;
    padding-bottom: 8.75rem;

    .container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -14.25rem;
            left: $container-gutter;
            height: 24.25rem;
            border-left: 1px solid $grey;
        }
    }

    .content-container {
        text-align: center;
        max-width: 36.375rem;
        @include spacing(margin, left right, auto);
        padding-bottom: 4.875rem;
    }

    .partner-list {
        display: flex;
        align-items: center;
        justify-content: center;
        @include spacing(margin, left right bottom, -2.5rem);

        .partner {
            @include spacing(padding, left right bottom, 2.5rem);

            .image-container {
                max-width: 11.25rem;
                @include spacing(margin, left right, auto);
            }
        }
    }
}
