$steps-grid-gutter: 1.5rem;

.what-you-do {
    background-color: $input-background;
    @include spacing(padding, top bottom, $mobile-section-space);

    .content-container {
        max-width: 31.25rem;
        margin-bottom: 1.875rem;

        h3 {
            color: $red;
            margin-bottom: 1.5rem;
        }
    }

    .steps-list {
        margin-bottom: -$steps-grid-gutter;

        @media screen and (min-width: $phone-breakpoint){
            display: flex;
            justify-content: space-between;
            @include spacing(margin, left right, -$steps-grid-gutter);
        }

        .step {
            padding-bottom: $steps-grid-gutter;

            @media screen and (min-width: $phone-breakpoint){
                flex: 0 1 calc(100% / 3);
                max-width: calc(100% / 3);
                @include spacing(padding, left right, $steps-grid-gutter);
                padding-bottom: 0;
            }

            h4 {
                @include set-font(primary, bold);
                font-size: 0.875rem;
                text-transform: uppercase;
                margin-bottom: 0.75rem;
            }

            .number {
                display: flex;
                align-items: flex-end;
                width: 8.125rem;
                height: 6.875rem;
                background-image: url('./assets/images/small-dot-accent.png');
                background-repeat: no-repeat;
                background-size: 4.625rem;
                background-position: right;
                padding-bottom: 1rem;
                margin-bottom: 1.625rem;

                span {
                    color: $throwback-blue;
                    @include set-font(primary, black);
                    font-size: 4.5rem;
                }
            }
        }
    }
}
