.what-we-do {
    padding-top: $mobile-section-space;

    @media screen and (min-width: $tablet-breakpoint){
        padding-top: 10rem;
        padding-bottom: 3rem;
    }

    .what-we-do-content {
        @media screen and (min-width: $tablet-breakpoint){
            display: flex;
            align-items: center;
        }

        .media-container {
            display: none;

            @media screen and (min-width: $tablet-breakpoint){
                display: block;
                position: relative;
                flex: 1 1 57.5%;
            }

            .back-image {
                @media screen and (min-width: $tablet-breakpoint){
                    position: relative;
                    max-width: 55%;
                }

                &::after {
                    @media screen and (min-width: $tablet-breakpoint){
                        content: '';
                        position: absolute;
                        bottom: 6rem;
                        right: 6rem;
                        transform: translateY(100%);
                        width: 21.25rem;
                        height: 13rem;
                        background-image: url('./assets/images/large-dot-accent.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        z-index: $background-layer;
                    }
                }
            }

            .front-image {
                @media screen and (min-width: $tablet-breakpoint){
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    max-width: 80%;
                }

                img {
                    @media screen and (min-width: $tablet-breakpoint){
                        box-shadow: $image-box-shadow;
                    }
                }

                .bar-detail {
                    display: none;

                    @media screen and (min-width: $tablet-breakpoint){
                        display: block;
                        position: absolute;
                        top: calc(1.25rem - 12.5rem);
                        left: calc(50% - (4.875rem / 2));
                        width: 4.875rem;
                        height: 12.5rem;
                        background-image: url('./assets/images/line-accent.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                }
            }
        }

        .content-container {
            @media screen and (min-width: $tablet-breakpoint){
                flex: 1 1 42.5%;
                padding-left: 5.75rem;
            }

            h3 {
                color: $throwback-blue;
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}
