.privacy-section {
    padding-bottom: $mobile-block-space;

    @media screen and (min-width: $tablet-breakpoint){
        padding-bottom: 5.75rem;
    }

    p {
        & ~ p {
            margin-top: 1.5rem;

            @media screen and (min-width: $tablet-breakpoint){
                margin-top: 2rem;
            }
        }
    }
}
