footer {
    color: $white;

    @media screen and (min-width: $tablet-breakpoint){
        display: flex;
        min-height: 26.5rem;
    }

    .footer-cta,
    .footer-navigation {
        @media screen and (min-width: $tablet-breakpoint){
            display: flex;
            padding: 1.5rem 0;
        }
    }

    .footer-cta {
        background-image: url('./assets/images/blue-pattern.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (min-width: $tablet-breakpoint){
            flex: 1 1 55%;
            justify-content: center;
        }

        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $mobile-section-space 1rem 1.625rem;

            @media screen and (min-width: $tablet-breakpoint){
                align-items: flex-start;
                max-width: 18.75rem;
                padding: 0;
            }

            .cta-container {
                max-width: 18rem;
                padding-bottom: $mobile-section-space;

                @media screen and (min-width: $tablet-breakpoint){
                    flex: 1 1 auto;
                    display: flex;
                    align-items: center;
                    max-width: 100%;
                    padding-bottom: 0;
                }

                .cta-title {
                    @include set-font(primary, medium);
                    font-size: 1.5rem;
                    line-height: 2rem;
                    padding-bottom: 2.25rem;
                }

                .micro-form {
                    @media screen and (min-width: $tablet-breakpoint){
                        display: flex;
                    }

                    input:not([type="submit"]) {
                        color: $primary-colour;
                        background-color: $white;

                        @media screen and (min-width: $tablet-breakpoint){
                            flex: 1 1 auto;
                            width: auto;
                        }

                        &::placeholder {
                            color: $primary-colour;
                        }

                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus,
                        &:-webkit-autofill:active{
                            -webkit-text-fill-color: $primary-colour;
                            -webkit-box-shadow: 0 0 0 62.5rem $white inset;
                        }
                    }

                    input[type="submit"] {
                        @extend %button-reset;
                        @include set-font(primary, bold);
                        color: $white;
                        font-size: $body-font-size;
                        line-height: $body-line-height;
                        width: 100%;
                        padding: 0.6875rem 1.125rem;
                        background-color: $primary-colour;
                        border: 0.125rem solid $white;

                        @media screen and (min-width: $tablet-breakpoint){
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .footer-navigation {
        flex: 1 1 45%;
        align-items: center;
        background-color: $primary-colour;
        background-image: url('./assets/images/whatsmy-logo-icon-light.svg');
        background-repeat: no-repeat;
        background-size: 3.875rem 3.125rem;
        background-position: bottom 2.5rem right 2.5rem;

        @media screen and (max-width: $tablet-breakpoint - 0.0625rem){
            display: none;
        }

        nav {
            padding-left: 20%;

            li {
                @include spacing(padding, top bottom, 0.3125rem);
            }
        }

        a {
            @include set-font(primary, medium);
            font-size: 1.25rem;
            line-height: 1.1;
        }
    }
}
