.page-container {
    .line-transition {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        z-index: $page-transition-layer;

        .line {
            flex: 1 1 34%;
            width: 100%;
        }
    }
}

/* Page Transition */
.page-transition-leave-active, .page-transition-enter-active {
    .line-transition {
        .line {
            transition: transform 0.3s ease-in-out;

            &.pink-gradient {
                transition-delay: 0.1s;
            }

            &.blue-gradient {
                transition-delay: 0.2s;
            }
        }
    }
}

.page-transition-leave-to, .page-transition-enter {
    .line-transition {
        .line {
            transform: translateX(100%);
        }
    }
}

.page-transition-leave {
    .line-transition {
        .line {
            transform: translateX(0);
        }
    }
}

.page-transition-enter-to {
    .line-transition {
        .line {
            transform: translateX(200%);
        }
    }
}
