.sidebar-container {
    padding-top: 4.5rem;

    @media screen and (min-width: $tablet-breakpoint){
        display: flex;
    }

    .sidebar {
        display: none;

        @media screen and (min-width: $tablet-breakpoint){
            position: relative;
            display: block;
            flex: 1 1 50%;
            padding-right: 6.25rem;
        }

        nav {
            ul {
                li {
                    @include spacing(padding, top bottom, 1.5rem);
                }
            }
        }
    }

    .sidebar-content {
        @media screen and (min-width: $tablet-breakpoint){
            flex: 1 1 50%;
        }
    }
}
