$feature-gutter: 0.625rem;

.features {
    position: relative;
    margin-top: $mobile-section-space;

    @media screen and (min-width: $tablet-breakpoint){
        margin-top: 14.75rem;
    }

    .container {
        @media screen and (min-width: $tablet-breakpoint){
            background-image: url('./assets/images/large-dot-accent.png');
            background-repeat: no-repeat;
            background-size: 21.25rem;
            background-position: top right $container-gutter;
        }
    }

    .content-container {
        position: relative;
        z-index: $content-layer;

        @media screen and (min-width: $tablet-breakpoint){
            max-width: calc(100% * (2/3));
        }

        h3 {
            color: $red;
            @include set-font(primary, bold);
            margin-bottom: 2rem;

            @media screen and (min-width: $tablet-breakpoint){
                margin-bottom: 3.625rem;
            }
        }

        .feature-list {
            margin-bottom: -1.25rem;

            @media screen and (min-width: $tablet-breakpoint){
                display: flex;
                flex-wrap: wrap;
                margin: -$feature-gutter;
            }

            .feature {
                padding: 3.125rem 1.25rem;
                border: 1px solid $grey;
                background-color: $white;
                margin-bottom: 1.25rem;

                @media screen and (min-width: $tablet-breakpoint){
                    flex: 0 1 calc(50% - 1.25rem);
                    max-width: calc(50% - 1.25rem);
                    padding: 2.5rem 1.25rem;
                    margin: $feature-gutter;
                }

                h4 {
                    display: flex;
                    color: $throwback-blue;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-bottom: 0.875rem;

                    &::before {
                        content: '';
                        flex: 0 0 2rem;
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        background-color: $light-grey;
                        margin-top: 0.5rem;
                        margin-right: 0.875rem;
                    }
                }
            }
        }
    }

    .image-container {
        display: none;

        @media screen and (min-width: $tablet-breakpoint){
            display: block;
            position: absolute;
            top: 2rem;
            right: 0;
        }

        img {
            width: auto;
            height: 52.5rem;

            @media screen and (min-width: $laptop-breakpoint){
                height: 45.5rem;
            }

            @media screen and (min-width: $desktop-breakpoint){
                height: 40rem;
            }
        }
    }
}
