$feature-gutter: 0.625rem;

.features {
    position: relative;
    margin-top: 14.75rem;

    .container {
        background-image: url('./assets/images/large-dot-accent.png');
        background-repeat: no-repeat;
        background-size: 21.25rem;
        background-position: top right;
    }

    .content-container {
        position: relative;
        max-width: 36.25rem;
        z-index: 1;

        h3 {
            color: $red;
            @include set-font(primary, bold);
            margin-bottom: 3.625rem;
        }

        .feature-list {
            display: flex;
            flex-wrap: wrap;
            margin: -$feature-gutter;

            .feature {
                flex: 0 1 calc(50% - 1.25rem);
                max-width: calc(50% - 1.25rem);
                padding: 2.5rem 1.25rem;
                margin: $feature-gutter;
                border: 1px solid $grey;
                background-color: $white;

                h4 {
                    display: flex;
                    color: $throwback-blue;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-bottom: 0.875rem;

                    &::before {
                        content: '';
                        flex: 0 0 2rem;
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        background-color: $light-grey;
                        margin-top: 0.5rem;
                        margin-right: 0.875rem;
                    }
                }
            }
        }
    }

    .image-container {
        position: absolute;
        top: 2rem;
        right: 0;

        img {
            width: auto;
            height: 45.5rem;
        }
    }
}
