.hero {
    .hero-content {
        @media screen and (min-width: $tablet-breakpoint){
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 3rem;
        }

        @media screen and (min-width: $laptop-breakpoint){
            padding-left: 4.5rem;
            padding-right: 3.375rem;
            padding-bottom: 4.75rem;
        }

        .content-container, .image-container {
            position: relative;
            z-index: $content-layer;
        }

        .content-container {
            text-align: center;
            padding-top: $mobile-hero-space;
            padding-bottom: $mobile-block-space;

            @media screen and (min-width: $tablet-breakpoint){
                flex: 1 1 60%;
                text-align: left;
                padding-bottom: 0;
            }

            @media screen and (min-width: $laptop-breakpoint){
                padding-top: 5.25rem;
            }

            h1 {
                margin-bottom: 2.125rem;

                span {
                    display: block;

                    &:last-child {
                        color: $red;
                    }
                }
            }
        }

        .image-container {
            box-shadow: $image-box-shadow;

            @media screen and (min-width: $tablet-breakpoint){
                flex: 1 1 40%;
            }
        }

        .hero-gradient {
            display: none;

            @media screen and (min-width: $tablet-breakpoint){
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4rem;
                background-image: url('./assets/images/homepage-header.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            @media screen and (min-width: $laptop-breakpoint){
                height: 12rem;
            }

            @media screen and (min-width: $desktop-breakpoint){
                height: 22rem;
            }
        }
    }
}
