.lead-content {
    padding-top: 2.25rem;
    padding-bottom: $mobile-section-space;

    @media screen and (min-width: $tablet-breakpoint){
        @include spacing(padding, top bottom, 5rem);
    }

    .content-container {
        @media screen and (min-width: $tablet-breakpoint){
            position: relative;
            @include spacing(padding, top bottom, 6.25rem);
            @include spacing(padding, left right, $container-gutter);
        }

        &::before {
            @media screen and (min-width: $tablet-breakpoint){
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                border-left: 1px solid $grey;
            }
        }

        p {
            text-align: center;
            max-width: 38.75rem;
            @include spacing(margin, left right, auto);
        }
    }
}
