.lead-content {
    padding-top: 2.25rem;
    padding-bottom: $mobile-section-space;

    @media screen and (min-width: $tablet-breakpoint){
        @include spacing(padding, top bottom, 5rem);
    }

    .content-container {
        @media screen and (min-width: $tablet-breakpoint){
            @include spacing(padding, top bottom, 6.25rem);
            @include spacing(padding, left right, $container-gutter);
            border-left: 1px solid $grey;
        }

        p {
            text-align: center;
            max-width: 38.75rem;
            @include spacing(margin, left right, auto);
        }
    }
}
