$offset-top: 4.25rem;
$offset-bottom: 2.25rem;

.use-case {
    background-color: $input-background;
    @include spacing(padding, top bottom, $mobile-section-space);

    @media screen and (min-width: $tablet-breakpoint){
        margin-top: $offset-top;
        margin-bottom: $offset-bottom;
        padding: 0;
    }

    .use-case-option {
        padding-bottom: $mobile-block-space;

        @media screen and (min-width: $tablet-breakpoint){
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 5.5rem;
        }

        &:first-child {
            @media screen and (min-width: $tablet-breakpoint){
                top: -$offset-top;
                margin-bottom: -($offset-top + $offset-bottom);
                align-items: flex-start;
            }

            .content-container {
                @media screen and (min-width: $tablet-breakpoint){
                    padding-top: 1.625rem;
                }
            }
        }

        &:last-child {
            padding-bottom: 0;

            @media screen and (min-width: $tablet-breakpoint){
                top: $offset-bottom;
            }
        }

        .image-container, .content-container {
            @media screen and (min-width: $tablet-breakpoint){
                flex: 0 1 28rem;
                max-width: 28rem;
            }
        }

        .image-container {
            @media screen and (min-width: $tablet-breakpoint){
                background-image: url('./assets/images/stripe-accent.png');
                background-repeat: no-repeat;
                background-size: 6.875rem;
                background-position: top right;
                padding-top: 0.75rem;
                padding-right: 1.125rem;
            }

            &.desktop-image {
                display: none;

                @media screen and (min-width: $tablet-breakpoint){
                    display: block;
                }
            }

            &.mobile-image {
                display: block;
                margin-bottom: 2rem;

                @media screen and (min-width: $tablet-breakpoint){
                    display: none;
                }
            }
        }

        .content-container {
            @media screen and (min-width: $tablet-breakpoint){
                padding-left: 5.875rem;
                padding-bottom: 1.5rem;
            }

            h3 {
                font-size: 1.375rem;
                line-height: 1;
                margin-bottom: 2rem;

                @media screen and (min-width: $tablet-breakpoint){
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
    }
}
