$contact-container-width: 26.75rem;

main.contact {
    .page-content {
        position: relative;
        max-width: $contact-container-width;
        margin-left: auto;

        @media screen and (min-width: $desktop-breakpoint){
            position: static;
        }
    }

    .simple-hero {
        .image-container {
            position: absolute;
            top: 0;
            right: $contact-container-width + 4.625rem;
            width: 28rem;

            @media screen and (min-width: $desktop-breakpoint){
                top: $header-height;
                left: 0;
                right: auto;
            }
        }
    }
}
