main.contact {
    @import'../components/contact/form';

    padding-bottom: 2rem;

    @media screen and (min-width: $tablet-breakpoint){
        padding-bottom: 3.875rem;
    }

    & > .container {
        @include spacing(padding, left right, $container-gutter-small);
    }

    .page-content {
        @media screen and (min-width: $tablet-breakpoint){
            max-width: 50%;
            margin-left: auto;
        }
    }

    .simple-hero {
        @media screen and (min-width: $tablet-breakpoint){
            padding-bottom: 8.875rem;
        }

        .image-container {
            display: none;

            @media screen and (min-width: $tablet-breakpoint){
                display: block;
                position: absolute;
                top: $header-height;
                left: 0;
                width: 50%;
                padding-right: 4.625rem;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -5.375rem;
                right: 2.625rem;
                width: 21.25rem;
                height: 10.125rem;
                background-image: url('./assets/images/large-dot-accent.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}
