main.privacy {
    .container {
        @include spacing(padding, left right, $container-gutter-small);

        @media screen and (min-width: $tablet-breakpoint){
            max-width: $phone-container;
        }
    }

    .simple-hero {
        h1 {
            color: $red;
            margin-bottom: $mobile-block-space;

            @media screen and (min-width: $tablet-breakpoint){
                margin-bottom: 5rem;
            }
        }
    }

    @import'../components/privacy/section';
}
