.accordion {
    padding-bottom: 3.75rem;

    & ~ .accordion {
        padding-top: 3.75rem;
        border-top: 1px solid $grey;
    }

    h3 {
        @include set-font(secondary);
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-bottom: 2.5rem;
    }

    p {
        & ~ p {
            margin-top: 2rem;
        }
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.9s ease;

        &.open {
            max-height: 62.5rem;

            p {
                animation: animateIn 0.9s ease forwards;
            }
        }

        .content-container {
            margin-top: 2.5rem;
        }
    }
}
