.accordion-list {
    &:last-child {
        .accordion-section {
            @media screen and (min-width: $tablet-breakpoint){
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }

    .accordion-section {
        @media screen and (min-width: $tablet-breakpoint){
            margin-bottom: 6rem;
            border-bottom: 1px solid $grey;
        }

        h2 {
            display: none;

            @media screen and (min-width: $tablet-breakpoint){
                display: block;
            }
        }
    }
}
