.accordion {
    padding-bottom: 5rem;

    @media screen and (min-width: $tablet-breakpoint){
        padding-bottom: 3.75rem;
    }

    &:last-child {
        padding-bottom: 0;

        @media screen and (min-width: $tablet-breakpoint){
            padding-bottom: 3.75rem;
        }
    }

    & ~ .accordion {
        padding-top: 5rem;
        border-top: 1px solid $grey;

        @media screen and (min-width: $tablet-breakpoint){
            padding-top: 3.75rem;
        }
    }

    &.open {
        .cta-link {
            &::after {
                transform: rotate(90deg);
            }
        }

        .accordion-content {
            max-height: 62.5rem;

            p {
                animation: animateIn 0.9s ease forwards;
            }
        }
    }

    h3 {
        @include set-font(secondary);
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-bottom: 1.5rem;

        @media screen and (min-width: $tablet-breakpoint){
            margin-bottom: 2.5rem;
        }
    }

    p {
        & ~ p {
            margin-top: 2rem;
        }
    }

    .cta-link {
        &::after {
            transform-origin: center;
            transform: rotate(0);
            transition: transform 0.9s ease;
        }
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.9s ease;

        .content-container {
            margin-top: 2.5rem;
        }
    }
}
