%button {
    display: inline-block;
    padding: 0.5rem 1.875rem;
    border-radius: 1.25rem;
    cursor: pointer;

    @include set-font(primary);
    font-size: $body-font-size;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;

    &:hover, &:focus, &:active{
        outline: none;
    }
}

button {
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.button {
    @extend %button;
    color: $white;
    background-color: $primary-colour;
}
