%button-reset {
    appearance: none;
    @include set-font(primary);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;

    &:hover, &:focus, &:active{
        outline: none;
    }
}

%button-base {
    @extend %button-reset;
    display: inline-block;
    padding: 0.5rem 1.875rem;
    border-radius: 1.25rem;

    font-size: $body-font-size;
    line-height: $body-line-height;
    text-align: center;
}

button {
    @extend %button-reset;
}

.button {
    @extend %button-base;
    color: $white;
    background-color: $primary-colour;
}
