$button-color: $white;
$button-background: $primary-colour;
$button-hover-color: $primary-colour;
$button-hover-background: $yellow;
$button-border-width: 0.125rem;
$button-border-radius: 1.25rem;
$button-transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);

%button-reset {
    appearance: none;
    @include set-font(primary);
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &:hover, &:focus, &:active{
        outline: none;
    }
}

%button-base {
    @extend %button-reset;
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.875rem;
    border-radius: $button-border-radius;
    overflow: hidden;

    font-size: $body-font-size;
    line-height: $body-line-height;
    text-align: center;
}

button {
    @extend %button-reset;
}

.button {
    @extend %button-base;
    color: $button-color;
    background-color: $button-background;
    transition: color $button-transition;

    &:hover, &:focus, &:active{
        color: $button-hover-color;

        &::after {
            transform: scale(1, 1);
            transform-origin: left center;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: -$button-border-width;
        left: -$button-border-width;
        right: -$button-border-width;
        bottom: -$button-border-width;
        transform: scale(0, 1);
        transform-origin: right center;
        transition: transform $button-transition;
        background-color: $button-hover-background;
        z-index: $base-layer;
    }

    span {
        position: relative;
        display: inline-block;
        z-index: $content-layer;
    }
}
