input:not([type="submit"]):not([type="checkbox"]),
textarea,
select{
    display: block;
    width: 100%;
    appearance: none;
    outline: none;
    cursor: pointer;
    color: $input-colour;
    background-color: $input-background;
    @include set-font(primary);
    font-size: $body-font-size;
    line-height: $body-line-height;
    padding: 0.8125rem;
    border-radius: 0;

    &::placeholder {
        color: rgba($input-colour, 0.5);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active{
        -webkit-text-fill-color: $input-colour;
        -webkit-box-shadow: 0 0 0 62.5rem $input-background inset;
    }
}

textarea{
    resize: vertical;
    min-height: 8.75rem;
    max-height: 14rem;
}

fieldset {
    padding-bottom: $mobile-block-space;

    @media screen and (min-width: $tablet-breakpoint){
        padding-bottom: 5rem;
    }
}
