body {
    color: $primary-colour;
    @include set-font(primary);
    font-size: $global-font-size;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

h1, .h1 {
    @include set-font(primary, bold);
    font-size: 3.5rem;
    line-height: 4rem;
}

h2, .h2 {
    @include set-font(primary, medium);
    font-size: 2.375rem;
    line-height: 3.125rem;
}

h3,
h4,
h5,
h6,
.h3 {
    @include set-font(primary, medium);
    font-size: 1.25rem;
    line-height: 1.5;
}

p {
    font-size: $body-font-size;
    line-height: 1.5;
}

.leadText {
    @include set-font(secondary);
    font-size: 1.5rem;
    line-height: 1.5;
}

.subtitle {
    color: $subtitle;
    @include set-font(primary, semi-bold);
    font-size: $body-font-size;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 2.5rem;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus, &:active{
        outline: none;
    }
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

nav {
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
            a {
                display: block;
            }
        }
    }
}

.line-hover {
    display: block;
    position: relative;
    line-height: 1;
    overflow: hidden;

    &::before, &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.3125rem;
        background-color: $grey;
        z-index: -1;
    }

    &::after {
        background-color: $yellow;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    &:hover, &:focus {
        &::after {
            transform: translateX(0);
        }
    }
}

.cta-link {
    display: flex;
    align-items: center;
    color: $legend-colour;
    font-size: 1rem;
    line-height: 1;

    &::after {
        content: ">";
        padding-left: 0.625rem;
    }

    &.line-hover {
        span {
            padding-left: 0.625rem;
        }
    }
}

%label {
    color: $label-colour;
    @include set-font(secondary);
    font-size: 1rem;
    line-height: 1.5;
}

label {
    @extend %label;
    display: inline-block;
    margin-bottom: 0.75rem;
    cursor: pointer;
}

legend {
    color: $legend-colour;
    @include set-font(primary, medium);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.125rem;
}
