body {
    color: $primary-colour;
    @include set-font(primary);
    font-size: $global-font-size;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

h1, .h1 {
    @include set-font(primary, bold);
    font-size: 2.25rem;
    line-height: 2.875rem;

    @media screen and (min-width: $tablet-breakpoint){
        font-size: 4rem;
        line-height: 4.5rem;
    }
}

h2, .h2 {
    @include set-font(primary, bold);
    font-size: 1.75rem;
    line-height: 2.125rem;

    @media screen and (min-width: $tablet-breakpoint){
        font-size: 3.25rem;
        line-height: 4.25rem;
    }
}

h3,
h4,
h5,
h6,
.h3 {
    @include set-font(primary, medium);
    font-size: 1.25rem;
    line-height: $body-line-height;
}

p {
    font-size: $body-font-size;
    line-height: $body-line-height;
}

.leadText {
    @include set-font(secondary);
    font-size: 1rem;
    line-height: 2.25rem;

    @media screen and (min-width: $tablet-breakpoint){
        font-size: 1.375rem;
    }
}

.subtitle {
    color: $subtitle;
    @include set-font(primary, semi-bold);
    font-size: $body-font-size;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 3.75rem;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus, &:active{
        outline: none;
    }
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

nav {
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
            a {
                display: block;
            }
        }
    }
}

.line-hover {
    @include line-hover;
}

.cta-link {
    @include cta-link;
}

%label {
    color: $label-colour;
    @include set-font(secondary);
    font-size: 1rem;
    line-height: $body-line-height;
}

label {
    @extend %label;
    display: inline-block;
    margin-bottom: 0.75rem;
    cursor: pointer;
}

legend {
    color: $legend-colour;
    @include set-font(primary, medium);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.125rem;
}
